---
layout: default
title: Blog Posts
---

{% for post in site.posts limit 10 %}
	<div class="post">
		
		<!-- POST TITLE -->
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		
		<!-- META -->
		{% include post-meta.html %}
		<!-- ENDS META -->
		
		<!-- IMAGE -->
		{% include blog-image.html %}
		<!-- ENDS IMAGE -->
		
		<!-- POST EXCERPT -->
		<div class="the-excerpt">
			{{ post.content | truncate:250 | textilize }}
		</div>
		<!-- ENDS POST EXCERPT -->
		
		<!-- READ MORE LINK -->
		<a href="{{ post.url }}" class="link-button"><span>Leia mais...</span></a>
		
	</div>
{% endfor %}

<!-- PAGINATION -->
{% include pagination.html %}
<!-- ENDS PAGINATION -->