---
layout: default
title : Sobre
---

<!-- TITLE -->
<h4 class="header-line">Sobre mim</h4>

<!-- LEFT COL -->
<div class="one-half poshy">
	<img src="/public/img/sobre/me.jpg" title="{{ site.author['me'].name }}" alt="{{ site.author['me'].name }}" />
</div>
<!-- ENDS LEFT COL -->

<!-- RIGHT COL -->
<div class="one-half last poshy">
	<p>
		PÁGINA EM CONSTRUÇÃO!
	</p>
	<p>
		Para conhecer mais sobre o meu trabalho visite meu <a href="/portfolio.html">portfolio</a>, ou então a minha página
		de <a href="/projetos.html">projetos</a>.
	</p>
</div>
<div class="clear"></div><br />
<!-- ENDS RIGHT COL -->

<!-- SOCIAL COL -->
<div>
	<p>
		Você também me encontra nas seguintes redes sociais:
		{% include social.html %}
	</p>
</div>
<!-- ENDS SOCIAL COL -->

<!-- DISQUS COMMENTS -->
{% include disqus.html %}
<!-- DISQUS COMMENTS -->