<div class="post compact">
	
	<!-- IMAGE -->
	{% include portfolio/entry-image.html %}
	<!-- ENDS IMAGE -->
	
	<!-- PORTFOLIO ENTRY -->
	<div class="the-excerpt">
		
		<!-- NAME -->
		<h1><a href="/portfolio/{{ entry.id }}.html">{{ site.portfolio[entry.id].name }}</a></h1>
		
		<!-- META -->
		{% include portfolio/meta.html %}
		<!-- ENDS META -->
		
		<!-- TEXT -->
		{{ site.portfolio[entry.id].text }}
		
		<!-- LINK -->
		<a href="/portfolio/{{ entry.id }}.html" class="link-button"><span>Saiba mais &rarr;</span></a>
		
	</div>
	<!-- PORTFOLIO ENTRY -->
	
	<div class="clear"></div>
	
</div>