{% if page.gallery != nil %}

<h4>Capturas de tela</h4>

<ul class="gallery-thumbs fourcols portfolio" >
	
	{% for gallery in page.gallery %}
	<li>
		<span></span>
		<a class="fancybox boxgrid" href="/public/img/portfolio/{{ page.id }}/{{ gallery.img }}.png" title="{{ gallery.img }}" >
			<img class="cover" src="/public/img/portfolio/{{ page.id }}/{{ gallery.img }}-thumb.png" alt="{{ gallery.img }}.png" title="{{ gallery.img }}"/>
			<div class="box-content">
				<em>{{ gallery.img }}:</em>
				{{ page.gallery-desc[gallery.img] }}
			</div>
		</a>
	</li>
	{% endfor %}
	
</ul>

{% include portfolio/buttons.html %}
{% endif %}