	<!-- FOOTER -->
	<div id="footer">
		
		<!-- FOOTER-WRAPPER -->
		<div id="footer-wrapper">
			
			<!-- FOOTER-COLS -->
			<ul id="footer-cols">
				
				<!-- ABOUT -->
				<li class="col clear-col">
					<h6>About the theme</h6>
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
				</li>
				<!-- ABOUT -->
				
				<!-- CATEGORIES -->
				<li class="col">
					<h6>Categories</h6>
					<ul>
						<li><a href="#">Webdesign</a></li>
						<li><a href="#/">Wordpress</a></li>
						<li><a href="#">Photo</a></li>
						<li><a href="#">Code</a></li>
						<li><a href="#">Web design</a></li>
						<li><a href="#/">Marketplace</a></li>
						<li><a href="#">Writting</a></li>
						<li><a href="#">Drawings</a></li>
					</ul>
				</li>
				<!-- CATEGORIES -->
				
				<!-- FLICKR -->
				<li class="col">
					<h6>Flickr stream</h6>
					<ul id="flickr-stream" class="thumbs">
					</ul>
				</li>
				<!-- ENDS FLICKR -->
			
			</ul>
			<!-- ENDS FOOTER-COLS -->
			
			<!-- FOOTER-BOTTOM -->
			<div id="footer-bottom">
				<div id="bottom-left">
					&copy;
					{% assign year = site.time | date: "%Y" %}
					{% if year != "2013" %} 
						2013-{{ year }}
					{% else %}
						2013
					{% endif %}
					Ansimuz | Todos os Direitos Reservados.
				</div>
				<div id="bottom-right">To top</div>
			</div>
			<!-- ENDS FOOTER-BOTTOM -->
			
		</div>
		<!-- ENDS FOOTER-WRAPPER -->
		
	</div>
	<!-- ENDS FOOTER -->
	
	</body>
</html>