	<!-- FOOTER -->
	<div id="footer">
		
		<!-- FOOTER-WRAPPER -->
		<div id="footer-wrapper">
			
			<!-- FOOTER-COLS -->
			<ul id="footer-cols">
				
				<!-- ABOUT -->
				{% include footer/terms-of-usage.html %}
				<!-- ABOUT -->
				
				<!-- SITES WE WATCH -->
				{% include footer/sites-we-watch.html %}
				<!-- ENDS SITES WE WATCH -->
				
				<!-- FLICKR -->
				{% include footer/flickr.html %}
				<!-- ENDS FLICKR -->
			
			</ul>
			<!-- ENDS FOOTER-COLS -->
			
			<!-- FOOTER-BOTTOM -->
			{% include footer/botom.html %}
			<!-- ENDS FOOTER-BOTTOM -->
			
		</div>
		<!-- ENDS FOOTER-WRAPPER -->
		
	</div>
	<!-- ENDS FOOTER -->
	
	<!-- GOOGLE ANALYTICS -->
	{% include google/analytics.html %}
	<!-- GOOGLE ANALYTICS -->
	
	</body>
</html>