<ul class='pager'>
	{% if paginator.previous_page %}
		<li class="first-child">
			{% if paginator.previous_page == 1 %}
				<a href="/">anterior</a>
			{% else %}
				<a href="/page{{ paginator.previous_page }}">anterior</a>
			{% endif %}
		</li>
	{% else %}
		<li class="first-child">anterior</li>
	{% endif %}
	
	{% assign pag = 1 %}
	{% for post in site.posts %}
		{% if pag <= paginator.total_pages %}
			{% if pag == paginator.page %}
				<li class="active">
			{% else %}
				<li>
			{% endif %}
				{% if pag > 1 %}
					<a href="/page{{ pag }}">{{ pag }}</a>
				{% else %}
					<a href="/">{{ pag }}</a>
				{% endif %}
			</li>
		{% endif %}
		{% assign pag = pag | plus:1 %}
	{% endfor %}
	
	{% if paginator.next_page %}
		<li class="last-child"><a href="/page{{ paginator.next_page }}">próxima</a></li>
	{% else %}
		<li class="last-child">próxima</li>
	{% endif %}
</ul>