<div class="post compact">
	
	<!-- IMAGE -->
	<div class="feature-image">
		<a href="/portfolio/{{ portfolio.id }}.html"><img src="/public/img/portfolio/{{ portfolio.id }}/thumb.png" alt="Feature image" /></a>
	</div>
	<!-- ENDS IMAGE -->
	
	<!-- ENDS feature image -->
	<div class="the-excerpt">
		<h1><a href="/portfolio/{{ portfolio.id }}.html">{{ site.portfolio-list[portfolio.id].name }}</a></h1>
		
		<!-- meta -->
		<ul class="meta">
			<li>By <a href="#">Ansimuz</a>&nbsp;</li> 
			<li> on Dec 27th 2010 &nbsp;</li>
			<li> with 47 comments &nbsp;</li>
		</ul>
		<!-- ENDS meta -->
		
		Pellentesque habitant morbi tristique senectus et netus et malesuada fames, Pellentesque habitant morbi tristique senectus et netus et malesuada fames Pellentesque habitant morbi tristique senectus et netus et malesuada fames, Pellentesque habitant morbi tristique senectus et netus et malesuada fames, Pellentesque habitant morbi fames.
		<a href="/portfolio/{{ portfolio.id }}.html" class="link-button"><span>Saiba mais &rarr;</span></a>
	</div>
	
	<div class="clear"></div>
	
</div>