{% assign author = site.author["me"] %}
<ul class="social" style="padding-left: 7px;">
	<li><a href="http://facebook.com/{{ author.facebook }}" class="facebook" title="Acompanhe-me no Facebook" target="_blank"></a></li>
	<li><a href="http://twitter.com/{{ author.twitter }}" class="twitter" title="Siga-me no Twitter" target="_blank"></a></li>
	<li><a href="http://linkedin.com/pub/{{ author.linkedin }}" class="linkedin" title="Conecte-se no LinkedIn" target="_blank"></a></li>
	<li><a href="http://youtube.com/user/{{ author.youtube }}" class="youtube" title="Assista meu canal no YouTube" target="_blank"></a></li>
	<li><a href="http://github.com/{{ author.github }}" class="github" title="Fork me no GitHub" target="_blank"></a></li>
	<li><a href="/atom.xml" class="rss" title="Assine meu Feed" target="_blank"></a></li>
</ul>