<ul class="social">
	<li><h6>Follow us</h6>
	<li><a href="http://www.facebook.com" class="facebook" title="Become a fan"></a></li>
	<li><a href="http://www.twitter.com" class="twitter" title="Follow our tweets"></a></li>
	<li><a href="http://www.dribbble.com" class="dribbble" title="View our work"></a></li>
	<li><a href="http://www.addthis.com" class="addthis" title="Tell everybody"></a></li>
	<li><a href="http://www.vimeo.com" class="vimeo" title="View our videos"></a></li>
	<li><a href="http://www.youtube.com" class="youtube" title="View our videos"></a></li>
</ul>