{% include header.html %}
		
	<!-- WRAPPER -->
	<div id="wrapper">
	
		<!-- SIDEBAR -->
		{% include sidebar.html %}
		<!-- ENDS SIDEBAR -->
		
		<!-- MAIN -->
		<div id="main">

			<!-- HEADER -->
			<div id="header">
				<div id="page-title">The blog</div>
				<!-- Breadcrumb-->
				<div id="breadcrumbs">
					You are here: 
					<a title="Home" href="#">Home</a> &raquo;
					<a title="Features" href="#">Blog</a>
				</div>
				<!-- ENDS Breadcrumb-->	
			</div>
			<!-- ENDS HEADER -->
			
			<!-- CONTENT -->
			<div id="content">
						
				<!-- PAGE CONTENT -->
				<div id="page-content">
				
					{{ content }}
					
					<!-- Pagination -->
					<ul class='pager'>
						<li class="first-child"><a href="#">prev</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li class="last-child"><a href="#">next</a></li>
					</ul>
					<!-- ENDS Pagination -->
	
				</div>
				<!-- ENDS PAGE-CONTENT -->
			
			</div>
			<!-- ENDS CONTENT -->
			
		</div>
		<!-- ENDS MAIN -->
	</div>
	<!-- ENDS WRAPPER -->
	
{% include footer.html %}