{% include header.html %}
		
	<!-- WRAPPER -->
	<div id="wrapper">
	
		<!-- SIDEBAR -->
		{% include sidebar.html %}
		<!-- ENDS SIDEBAR -->
		
		<!-- MAIN -->
		<div id="main">

			<!-- TITLE + BREADCRUMB-->
			{% include breadcrumb.html %}
			<!-- ENDS TITLE + BREADCRUMB-->
			
			<!-- CONTENT -->
			<div id="content">
						
				<!-- PAGE CONTENT -->
				<div id="page-content">
				
					{{ content }}
					
					<!-- Pagination -->
					{% include pagination.html %}
					<!-- ENDS Pagination -->
	
				</div>
				<!-- ENDS PAGE-CONTENT -->
			
			</div>
			<!-- ENDS CONTENT -->
			
		</div>
		<!-- ENDS MAIN -->
		
	</div>
	<!-- ENDS WRAPPER -->
	
{% include footer.html %}