---
layout: default
---

<!-- PORTFOLIO PROJECT -->
<div class="post single portfolio">
	
	<!-- TITLE -->
	<h4>{{ site.portfolio[page.id].name }}</h4>
	
	<!-- META -->
	<ul class="meta">
		<li> Client Envato &nbsp;</li>
		<li> in <a href="#">Webdesign</a>&nbsp;</li>
	</ul>
	<!-- ENDS META -->
	
	<!-- IMAGE -->
	{% include portfolio/image.html %}
	<!-- ENDS IMAGE -->
	
	<!-- THE TEXT -->
	<div class="the-content">
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
	</div>
	<!-- ENDS THE TEXT -->
	
</div>
<!-- ENDS PORTFOLIO PROJECT -->

<!-- GALLERY -->
<h4>Project gallery</h4>
<ul class="gallery-thumbs fourcols portfolio" >
	
	<li>
		<span></span>
		<a class="fancybox boxgrid" href="img/dummies/116x116.jpg" title="The road" >
			<img class="cover" src="img/dummies/116x116.jpg" alt="The Road" title="The Road"/>
			<div class="box-content">
				<em>Lorem Ipsum  </em>
				Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
			</div>
		</a>
	</li>
	
</ul>
<!-- ENDS GALLERY -->
