---
layout: default
---

<!-- BLOG POST -->
<div class="post single">
	
	<!-- TITLE -->
	<h1>{{ page.title }}</h1>
	
	<!-- META -->
	{% if page.author %}
		{% assign author = site.author[page.author] %}
	{% else %}
		{% assign author = site.author["me"] %}
	{% endif %}
	
	<ul class="meta">
		<li>Por <a href="/sobre.html"><u>{{ author.name }}</u></a>&nbsp;</li>
		<li> em {{ page.date | date: "%d %b %Y" }} &nbsp;</li>
	</ul>
	<!-- ENDS META -->
	
	<!-- IMAGE -->
	<div class="feature-image">
		<img src="/public/img/posts/{{ page.id | replace:'/','' }}.jpg" alt="{{ page.title }}" />
	</div>
	<!-- ENDS IMAGE -->
	
	<!-- TEXT -->
	<div class="the-content">
		{{ content }}
	</div>
	<!-- ENDS TEXT -->
	
	<!-- CATEGORIES -->
	<ul class="tags">
		<li>Categorias: </li>
		<li><a href="#">Web design</a></li>
		<li><a href="#">Code</a></li>
		<li><a href="#">Photo</a></li>
		<li><a href="#">Clothing</a></li>
		<li><a href="#">Video</a></li>
		<li><a href="#">Web design</a></li>
		<li><a href="#">Code</a></li>
		<li><a href="#">Photo</a></li>
		<li><a href="#">Clothing</a></li>
		<li><a href="#">Video</a></li><li>
		<li><a href="#">Code</a></li>
		<li><a href="#">Photo</a></li>
		<li><a href="#">Video</a></li><li>
	</ul>
	<!-- ENDS CATEGORIES -->
	
</div>
<!-- BLOG POST -->

<!-- DISQUS COMMENTS -->
<div id="disqus_thread"></div>
<noscript>Por favor, habilite o javascript para ver os comentários</noscript>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname  = 'leonardothibes'; // required: replace example with your forum shortname
    var disqus_identifier = "{{ page.id | replace:'/','-' }}";
    var disqus_url        = "http://blog.leonardothibes.com{{ page.url }}";

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- DISQUS COMMENTS -->