---
layout: default
---

<!-- BLOG POST -->
<div class="post single">
	
	<!-- TITLE -->
	<h1>{{ page.title }}</h1>
	
	<!-- META -->
	{% if page.author %}
		{% assign author = site.author[page.author] %}
	{% else %}
		{% assign author = site.author["me"] %}
	{% endif %}
	
	<ul class="meta">
		<li>Por <a href="/sobre.html"><u>{{ author.name }}</u></a>&nbsp;</li>
		<li> em {{ page.date | date: "%d %b %Y" }} &nbsp;</li>
	</ul>
	<!-- ENDS META -->
	
	<!-- IMAGE -->
	<div class="feature-image">
		<img src="/public/img/posts/{{ page.id | replace:'/','' }}.jpg" alt="{{ page.title }}" />
	</div>
	<!-- ENDS IMAGE -->
	
	<!-- TEXT -->
	<div class="the-content">
		{{ content }}
	</div>
	<!-- ENDS TEXT -->
	
	<!-- CATEGORIES -->
	<ul class="tags">
		<li>Categorias: </li>
		<li><a href="#">Web design</a></li>
		<li><a href="#">Code</a></li>
		<li><a href="#">Photo</a></li>
		<li><a href="#">Clothing</a></li>
		<li><a href="#">Video</a></li>
		<li><a href="#">Web design</a></li>
		<li><a href="#">Code</a></li>
		<li><a href="#">Photo</a></li>
		<li><a href="#">Clothing</a></li>
		<li><a href="#">Video</a></li><li>
		<li><a href="#">Code</a></li>
		<li><a href="#">Photo</a></li>
		<li><a href="#">Video</a></li><li>
	</ul>
	<!-- ENDS CATEGORIES -->
	
</div>
<!-- BLOG POST -->

<!-- DISQUS COMMENTS -->
{% include disqus.html %}
<!-- DISQUS COMMENTS -->